<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="racecarneo">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry><box size="0.36 0.22 0.10"/></geometry>
      <material name="racecar_black"><color rgba="0.02 0.02 0.02 1"/></material>
    </visual>
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry><box size="0.36 0.22 0.10"/></geometry>
    </collision>
    <inertial>
      <mass value="3.0"/>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <inertia ixx="0.016" ixy="0" ixz="0" iyy="0.038" iyz="0" izz="0.048"/>
    </inertial>
  </link>

  <link name="lidar_link"/>
  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0.02 0 0.16" rpy="0 0 0"/>
  </joint>

  <link name="camera_color_optical_frame"/>
  <joint name="camera_color_joint" type="fixed">
    <parent link="base_link"/>
    <child link="camera_color_optical_frame"/>
    <origin xyz="0.16 0 0.13" rpy="-1.57079632679 0 -1.57079632679"/>
  </joint>

  <link name="camera_depth_optical_frame"/>
  <joint name="camera_depth_joint" type="fixed">
    <parent link="camera_color_optical_frame"/>
    <child link="camera_depth_optical_frame"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>
  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
  </joint>
</robot>
